<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BelkaLoungeMenu</title>
    <link rel="stylesheet" href="./font/font.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="snow.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-302CQXDTXJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-302CQXDTXJ');
    </script>
    <script src="./menu.js" id="ru"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body >
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <div  id="snow">
        <div v-for="index in 50" :key="index" class="snow"></div>
    </div>

    <span id="swipe">
        <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_pegzbow7.json" background="transparent" speed="1"  loop  autoplay></lottie-player>
    </span>
    <main id="main">
        <lottie-player id="animation" src="https://assets7.lottiefiles.com/private_files/lf30_7npo5sxe.json" onclick="ScrollToMenu()" style="user-select: none;"  background="transparent"  speed="1" loop  autoplay></lottie-player>
    </main>
    
    <div id="section">
        <div v-for="index in 30" :key="index" class="snow"></div>

        <section id="language-section">
            <span class="language">
                <span class="lang-span" onclick="loading('ru')">
                    <h3  class="lang_font" >RU</h3>
                    <img src="./flags/russia.png" class="flag" alt="">
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="lang-span" onclick="loading('en')">
                    <h3  class="lang_font">ENG</h3>
                    <img src="./flags/united-kingdom.png" class="flag" alt="">
                </span>
            </span>
            <br>
            <img v-if="language == 'en' "  class="main-logo"  src="./img/BelkaWithFlags-ENG.svg" alt="">
            <img v-if="language == 'ru' "  class="main-logo"  src="./img/BelkaWithFlags-RUS.svg" alt="">
        </section>

        <section  v-for="page in menu.pages" v-bind:style="page.background" >
            <br>
            <div v-if="language == 'ru' "  v-for="block in page.blocks" class="column">
                <div class="div-snow">
                    <!-- <div v-for="index in 10" :key="index" class="snow snow-self"></div> -->
                </div>
                <span class="title-span">
                    <img  v-if="block.adult" class="adult" src="./img/18+.svg" alt="18+">
                    <h1>{{block.ru_title}}</h1>
                </span>
               <span v-for="position in block.positions" class="column">
                    <br> 
                    <span class="position">
                        <span class="name">
                            <h2>{{position.ru_name}} <small> &nbsp; {{position.sub_ru_name}}</small> </h2>
                            <small class="description">{{position.ru_description}}</small>
                        </span>
                        <h2 v-if="position.cost">{{position.cost}} {{menu.cost}}</h2>
                    </span>
                </span>
            </div>
            <div v-if="language == 'en' "  v-for="block in page.blocks" class="column">
                <span class="title-span">
                    <img  v-if="block.adult" class="adult" src="./img/18+.svg" alt="18+">
                    <h1>{{block.en_title}}</h1>
                </span>
                <span v-for="position in block.positions" class="column">
                     <br> 
                     <span class="position">
                         <span class="name">
                             <h2>{{position.en_name}} <small> &nbsp; {{position.sub_en_name}}</small> </h2>
                             <small class="description">{{position.en_description}}</small>
                         </span>
                         <h2 v-if="position.cost">{{position.cost}} {{menu.cost}}</h2>
                     </span>
                 </span>
             </div>
            <br>
        </section> 
        <section id="wine">
            <h1 v-if="language == 'ru' " id="wine-cart" class="wine">ВИННАЯ КАРТА</h1>
            <h1 v-if="language == 'en' " id="wine-cart" class="wine">WINE MAP</h1>
            <div class="column">
                <span class="title-span">
                    <img   class="adult" src="./img/18+.svg" alt="18+">
                    <h1 v-if="language == 'ru' ">ШАМПАНСКОЕ:</h1>
                    <h1 v-if="language == 'en' ">CHAMPAGNE:</h1>
                </span>
                
                <br>

                <span class="position">
                    <span class="name">
                        <h2>CRICOVA "CUVE PRESTIGE" ALB BRUT</h2>
                    </span>
                    <h2>220 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA "CUVE PRESTEGE" ROZ BRUT</h2>
                    </span>
                    <h2>220 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA "CUVE PRESTEGE" ROSU DULCE</h2>
                    </span>
                    <h2>220 {{menu.cost}}</h2>
                </span>
                <br>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA BRUT ALB "CLASSIC"</h2>
                    </span>
                    <h2>150 {{menu.cost}}</h2>
                </span> 
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA BRUT ROSU "CLASSIC"</h2>
                    </span>
                    <h2>150 {{menu.cost}}</h2>
                </span> 
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA ROSU DULCE "CLASSIC"</h2>
                    </span>
                    <h2>150 {{menu.cost}}</h2>
                </span>
                <br>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA MUSCAT DULCE</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA LACRIMA DULCE</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA LACRIMA DULCE ROSU</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span>
            </div>
            <div class="column">
                <span class="title-span">
                    <img   class="adult" src="./img/18+.svg" alt="18+">
                    <h1 v-if="language == 'ru' ">ВИНО:</h1>
                    <h1 v-if="language == 'en' ">WINE:</h1>
                </span>
                
                <br>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA CABERNET "PRESTIGE"</h2>
                    </span>
                    <h2>180 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA CHARDONNAY "PRESTIGE"</h2>
                    </span>
                    <h2>180 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA ROZE DE "PRESTIGE"</h2>
                    </span>
                    <h2>180 {{menu.cost}}</h2>
                </span>
                <br>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA CABERNET "VINTAGE"</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span> 
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA CODRU "VINTAGE"</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span> 
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA CHARDONNAY "VINTAGE"</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA PASTORAL "VINTAGE"</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span>
                <span class="position">
                    <span class="name">
                        <h2>CRICOVA CABERNET&MERLOT ROZE "VINTAGE"</h2>
                    </span>
                    <h2>120 {{menu.cost}}</h2>
                </span>
            </div>
        </section>
    </div> 
    <script src="main.js"></script>
</body>
</html>